# Основная библиотека ORM
sqlalchemy>=2.0.0

# Работа с настройками и валидацией
pydantic-settings

# Драйверы для базы данных (PostgreSQL)
# Синхронный драйвер
psycopg2-binary
# Асинхронный драйвер
asyncpg

# Для работы с переменными окружения .env
python-dotenv